body{
    margin: 0px;
    text-align: center;
    background-color: #000000;
    font-family: 'Cinzel', serif;
    
}

main{
    background-color: #e5e5e5;
}

/*Header*/ 

header{
    background-color: #000000;
}

#main-header{
    display: flex;
    justify-content: center;
    padding: 10px;
 
}

header h1{
    color: #ffffff;
    font-size: 16px;
    padding-top: 8px;
}

span{
    color: gold;
}

#logo-image{
    width: 120px;
    height: 50px;
}

/*NavBar*/ 

header i{
    color: gold;
    font-size: 2rem;
    padding: 10px;
    margin-left: 120px;
}

header i:hover,
header i:active{
    cursor: pointer;
    color: rgb(255, 0, 0);
    transform: scale(1.1);
}

#closeNavBarIcon{
    display: none;
}


nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
}

nav{
    display: none;
}


nav a{
    margin-left: 40px;
    padding: 4px;
    color: gold;
    font-size: 1.7rem;
}

nav a:hover,
nav a:active{
    cursor: pointer;
    color: red;
    transform: scale(1.05);
}

a {
    text-decoration: none !important;
}

section{
    max-width: 350px;
    margin: 0 auto;
}

/*Section 1*/ 

#one{
    margin: -50px auto 100px auto;
}

#one h2{
    font-size: 1.6rem;
    margin-top: 80px;
    margin-bottom: 0px;
}

#one h1{
    font-size: 3.5rem;
    margin-top: 20px;
    margin-bottom: 0px;
}

#one p{
    font-size: 1.2rem;
    margin-top: 5px;
}

#section-one-btns{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#one button{
    width: 300px;
    padding: 18px;
    margin: 5px auto;
    color: black;
    font-size: 1.5rem;
    background-color: gold;
    cursor: pointer;
    border: 1px black solid;
}

#one button:hover,
#one button:active{
    transform: scale(1.03);
    background-color: black;
    color: gold;
    border: 1px gold solid;
}


/*Booking Section*/ 

#booking{
    margin: 100px auto;
    padding: 10px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: gold;
    border-radius: 15px;
}

#booking:hover,
#booking:active{
    transform: scale(1.1);
}

#booking form{
    margin: -10px auto 15px auto;
    max-width: 300px;
    border: 1px black solid;
    padding: 10px 0px 15px 0px;
    background-color: #14213d;
    border-radius: 15px;
}

#booking h3{
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 20px;
}

#booking h4{
    margin-bottom: 0px;
}

select,
input{
    text-align: center;
    width: 200px;
    padding: 5px;
    cursor: pointer;
}

#date-input{
    width: 187px;
}

#search{
    margin-top: 10px;
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
    border-radius: 15px;
    border: none;
}

#search:hover,
#search:active{
    background-color: #000000;
    color: gold;
    border: 1px gold solid;
}

/*Section 2*/ 

#two{
    margin: 100px auto;
}

#select-car-div{
    margin-bottom: 60px;
}

#two h1{
    font-size: 3rem;
}

#two i{
    font-size: 4rem;
    color: #14213d;
}

/*Section 3*/ 

#three{
    margin: 100px auto;
}

#three h2{
    font-size: 3rem;
    margin-top: 0px;
}

#three h3{
    margin-bottom: 0px;
}


#three p{
    font-size: 1.2rem;
}

#car-display{
    padding: 5px;
    display: flex;
    flex-direction: column;
}

#car-display button{
    width: 300px;
    height: 50px;
    margin: 5px auto;
    cursor: pointer;
    background-color: #000000;
    color: gold;
    border: 1px gold solid;
    font-size: 1.5rem;
}

#car-display button:hover,
#car-display button:active{
    transform: scale(1.2);
    background-color: #14213d ;
}

#car-display img{
    width: 350px;
    margin: 30px auto;
}

#car-display img:hover,
#car-display img:active{
    transform: scale(1.2);
}


table{
    width: 260px;
    margin: 0 auto;
    background-color: #14213d;
}


table th{
    text-align: center;
    padding: 5px;
    
    background-color: white;
}

thead th{
    background-color: gold;
    font-size: 1.8rem;
}

table td{
    border-left: 1px black solid;
    background-color: white;
}

#car-display .reserve-btn{
    width: 260px;
}

.car{
    display: none;
}


/*Section 4*/ 

#four-part-one,
#four-part-two{
    margin: 100px auto;
}

#four h2{
    font-size: 2.5rem;
}

#four ul{
    margin-right: 40px;
}

#four li{
    font-size: 1.2rem;
    list-style: none;
    margin: 25px auto;
}

#four-part-two img{
    width: 250px;
}

#four-part-two #image-one{
    width: 150px;
}

#four-part-two i{
    font-size: 4rem;
    color: black;
}



/*Section 5*/ 

#five{
    margin: 100px auto;
}

#five h3{
    font-size: 1.5rem;
    margin-bottom: 0px;
}

#five h2{
    font-size: 2.5rem;
    margin-top: 5px;
    margin-bottom: 0px;
}

#five #reviews{
    margin-top: 80px;
}

#five #reviews p{
    max-width: 300px;
    margin: 9px auto;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

#five #reviews img{
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

#five .review-person{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    margin-right: -15px;
}

#five .review-person h4{
    position: relative;
    bottom: 70px;
    right: 20px;
    font-size: 1.2rem;
}

#five #review{
    border: 1px black solid;
    margin-bottom: 30px;
    border-radius: 15px;
    background-color: #ffffff;
}

#five #review:hover,
#five #review:active{
    transform: scale(1.1);
}

/*Questions section*/ 

#wuestions{
    width: 400px;
}

#questions{
    margin: 100px auto;
}

#questions h4{
    margin: 10px auto;
}

#questions h2{
    margin-top: -20px;
    font-size: 3rem;
}

#questions button{
    margin: 5px auto;
    width: 100%;
    font-size: 1.5rem;
    border: 1px gold solid;
    background: #000000;
    border-radius: 15px;
    color: #fca311;
    padding: 10px;
}

#questions button:hover,
#questions button:active{
    background-color: #14213d;
    cursor: pointer;
    transform: scale(1.02);
}

#question-one-answer,
#question-two-answer,
#question-three-answer{
    display: none;
}




/*App Section*/ 

#app{
    margin: 100px auto;
}

#app h2{
    font-size: 2.9rem;
}

#app{
    font-size: 1.1rem;
}

#app img{
    width: 300px;
}

#app #apple{
    width: 265px;
    height: 85px;
}


/*Footer Section */ 

#footer{
    text-align: left;
    padding: 40px;
    color: gold;
    background-color: black;
}

#footer-navbar,
#location-details{
    display: flex;
    flex-direction: column;
}

#footer-navbar a{
    color: gold;
}

#footer-navbar a:hover,
#footer-navbar a:active{
    transform: scale(1.1);
    margin-left: 40px;
    color: red;
}

#footer h2{
    font-size: 3rem;
}

.underline{
    text-decoration: underline;
    font-size: 2rem;
}

#footer p{
    font-size: 1.3rem;
}
