body{
    margin: 0px;
    text-align: center;
    
}

/*Header*/ 

header{
    background-color: #B4F5F0;
}

#main-header{
    display: flex;
    justify-content: center;
    padding: 10px;
 
}

header h1{
    font-size: 16px;
    padding-top: 8px;
}

span{
    color: #0476D0;
}

#logo-image{
    width: 50px;
    height: 50px;
}

/*NavBar*/ 

i{
    font-size: 2rem;
    padding: 10px;
    margin-left: 220px;
}

i:hover,
i:active{
    cursor: pointer;
    color: red;
    transform: scale(1.1);
}

#closeNavBarIcon{
    display: none;
}


nav{
    display: flex;
    flex-direction: column;
}

nav{
    display: none;
}


nav a{
    margin-left: 40px;
    padding: 4px;
    color: #0476D0;
    font-size: 1.2rem;
}

nav a:hover,
nav a:active{
    cursor: pointer;
    color: red;
    transform: scale(1.05);
}

section{
    max-width: 350px;
    margin: 0 auto;
}

/*Section 1*/ 

#one{
    margin-bottom: 50px;
}

#one h2{
    font-size: 1.6rem;
    margin-top: 80px;
    margin-bottom: 0px;
}

#one h1{
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 0px;
}

#one p{
    font-size: 1.2rem;
    margin-top: 5px;
}

#section-one-btns{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#one button{
    width: 300px;
    padding: 18px;
    margin: 5px auto;
}



/*Booking Section*/ 

#booking-section{
  max-width: 400px;
  margin: 0 auto;
  border: 1px black solid;
  display: flex;
 flex-direction: column;
}

select,
input{
    width: 200px;
}

/*Section 2*/ 



/*Section 3*/ 

#car-display{
    display: flex;
    flex-direction: column;
}

#car-display button{
    width: 300px;
    height: 50px;
    margin: 5px auto;
}

#car-display img{
    width: 300px;
    margin: 0 auto;
}

table{
    border: 1px black solid;
    margin: 0 auto;
}

table td{
    border-left: 1px black solid;
}


/*Section 4*/ 








/*Section 5*/ 




/*Questions section*/ 




/*App Section*/ 




  /*Footer Section */ 