body{
    margin: 0px;
    text-align: center;
    
}

header{
    background-color: #B4F5F0;
}

#main-header{
    display: flex;
    justify-content: center;
    padding: 10px;
 
}

header h1{
    font-size: 16px;
    padding-top: 8px;
}

span{
    color: #0476D0;
}

#logo-image{
    width: 50px;
    height: 50px;
}

i{
    font-size: 2rem;
    padding: 10px;
    margin-left: 260px;
}

i:hover,
i:active{
    cursor: pointer;
    color: red;
    transform: scale(1.1);
}

#closeNavBarIcon{
    display: none;
}

nav{
    display: flex;
    flex-direction: column;
}

nav{
    display: none;
}


nav a{
    margin-left: 40px;
    padding: 4px;
    color: #0476D0;
    font-size: 1.2rem;
}

nav a:hover,
nav a:active{
    cursor: pointer;
    color: red;
    transform: scale(1.05);
}

#main-image img {
    width: 100%;
}

.slide {
    width: 100%;
    height: 300px;
    display: none;
}

#slide-buttons {
    position: relative;
    bottom: 50px;
    text-align: center;
    margin-top: 10px;
}

#slide-buttons button{
    font-size: 2rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#slide-buttons button:hover,
#slide-buttons button:active{
    transform: scale(1.3);
    color: red;
}

#prev-button{
    margin-right: 100px;
}

#nextbutton{
    margin-left: 100px;
}


#section-one{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

#booking-section{
  max-width: 400px;
  margin: 0 auto;
  border: 1px black solid;
  display: flex;
 flex-direction: column;
}

select,
input{
    width: 200px;
}

#car-display{
    display: flex;
    flex-direction: column;
}

#car-display button{
    width: 300px;
    height: 50px;
    margin: 5px auto;
}

#car-display img{
    width: 300px;
    margin: 0 auto;
}

table{
    border: 1px black solid;
    margin: 0 auto;
}

table td{
    border-left: 1px black solid;
}

.car{
    display: none;
}

